.divDetail {
    display: flex;
    height: 100vh;
    font-family: sans-serif;
    font-weight: bold;
}

.sectionImg {
    width: 75%;
    float: right;
    background-image: linear-gradient(-225deg, #5176fd 61%, rgb(144, 144, 244) 30%);
}

.img {
    display: flex;
    margin-top: calc(15vh);
    margin-left: calc(10vw);
    max-width: 720px;
    max-height: 480px;
    width: auto;
    height: auto;
    border-radius: .8rem;
    transition: transform .5s;
    box-shadow: black;
}

.img:hover {
    transform: scale(1.4);
}

.sectionInfo {

    display: flex;
    flex-direction: column;
    width: 25%;
    float: right;
    background-image: linear-gradient(+225deg, #5176fd 34%, rgb(144, 144, 244) 30%);
    border: 1px solid;
    font-family: cursive;
}

.name {
    margin-top: calc(40%);
}

.liTemp {
    border: none;
}

.btnBack {
    display: inline-block;
    color: #252537;
    background: #60978c;
    cursor: pointer;
    font-family: cursive;
    font-weight:bold;
    margin-top: 1rem;
    width: 70px;
    height: 30px;
    transition: all 0.2s linear;
    border-radius: 8px ;
}

.btnBack:hover {
    transform: translatey(3px);
    box-shadow: none;
    animation: ani9 0.4s ease-in-out infinite alternate;

}