li{
   display:inline-table;
   justify-content:space-between;
  border: 1px solid rgb(168, 228, 250);
  border-radius: 1rem;
  width:auto;
  margin: 2px;
  background-color: #1f4ef8;
}


.divConteinerForm {

    width: 850px;
    
    height: 100vw;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(30, 8%, 5%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-225deg, #5176fd 40%, rgb(144, 144, 244) 30%);
    border: 2px solid white;
    border-radius: 20px;
    
    
}

.Contenido {
    display: -webkit-flex;
    display: flex;
   -webkit-justify-content: space-around;
    justify-content: space-around;
   -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}

.divCheckBox{
display: flex;
flex-direction: column;
justify-content:space-between;
}

.liCheckBox{
font-family: cursive;
font-weight: 600;
}



.hederForm {
    margin: 2% auto 10% auto;
    text-align: center;
}

.labelForm,.inputText{
font-family: cursive;
font-weight: 700;
color:black;

}



.inputText {
    width: 240px;
    height: 50px;

    margin-top: 2%;
    padding: 15px;

    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #000000;
    
    outline: none;
    border: 1px solid rgb(248, 242, 242);

    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;

}


.inputText,
:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}

.parrafoErr{
    
    text-align: center;
    font-family: cursive;
    font-weight: 700;
    color:black;
   }

   .selectTemps{
   background-color: #1f4ef8;
   color: #010101;
   border: 1px solid white;
   border-radius: .5rem;
   height: 30px;
   margin-top: .5rem;
   margin-bottom: .5rem;
   
   }
   .h2Select{
   
    margin-top: 1rem;
    margin-bottom: .5rem;
   }


.btnLogin ,.btnCreate{
    display: inline-block;
    color: #252537;

    width: 150px;
    height: 50px;

    padding: 0 20px;
    background: #60978c;
    border-radius: 5px;

    /* outline: none;
    border: none; */

    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;

    margin: 7% auto;
    letter-spacing: 0.05em;
}
.btnOptionsTemps{
    display: inline-block;
    
    color: #252537;

    width: fit-content;
    height: fit-content;

    padding: 0 10px;
    background: #60978c;
    border-radius: 5px;

    /* outline: none;
    border: none; */

    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;

    margin: 2% auto;
    margin-left: .3rem;
    letter-spacing: 0.05em;
}

/* buttons hover */
.btnSingUp:hover,.btnCreate:hover,.btnOptionsTemps:hover {
    transform: translatey(3px);
    box-shadow: none;
    animation: ani9 0.4s ease-in-out infinite alternate;
}

